998 Type:           SystemStar estimate
0   Written:        03.03.20 17:39:03
900 File Version:   9003
901 SW Version:     Demo
902 Build:          3.0.3.1003
904 Sequence Number:00233121760506881421218031365
905 Version:        SystemStar 3.0 Demo
906 Serial Number:  83 - 01126                              
estcreate "Estimate2"
dbselect "COCOMO_II.2000_Waterfall"
calcmodel intermediate
prec 3
flex 3
resl 3
team 3
pmat 3
wsname *
amcf *
wsstartpoint 2
rename "Project"
RELY  nominal
TIME  nominal
goto "Project"
subcomp "Measure"
wsslocdist y  0 1          60
increment 1
goto "Project"
subcomp "Measurement_Mode"
wsslocdist y  0 1          50
increment 1
goto "Project"
subcomp "Loop"
wsslocdist y  0 1          20
increment 1
goto "Project"
subcomp "Read_or_Write"
wsslocdist y  0 1          30
increment 1
goto "Project"
subcomp "Write_SD"
wsslocdist y  0 1          70
increment 1
goto "Project"
subcomp "Something"
wsslocdist y  0 1          30
increment 1
goto "Project"
subcomp "Settings"
wsslocdist y  0 1          40
increment 1
goto "Project"
subcomp "Setup"
wsslocdist y  0 1          30
increment 1
set auto on
910 Lines:                       61
911 Characters:                1073
912 File Size:                 1405
913 Checksum 1:                  35
914 Checksum 2:                 223
915 Checksum 3: 0462283747763543073
1000 "Estimate2"
1001 "    "
1002 152
1003  100
1004   1.0000
1006       0.8687
1007       0.8687
1008   1.0000
1009       3.5093
1010       3.5093
1011          330
1012          330
1013    1.0997
1014    0.3179
1015 2
1016 3
1017 3
1018 3
1019 3
1020 3
1021    0
1022    2.9400
1023   0.91000
1024   1.00000
1025    3.6700
1026   0.28000
1027   0.20000
1028   0.18970
1029   0.00000
1030 s
1031 ""
